{% extends 'base.html.twig'  %}

{% form_theme form with ['bootstrap_4_layout.html.twig',_self] %}

{% block body %}
	<div class="container">
	<h1>Modification du mot de passe</h1>


				{{ form_start(form) }}
				{{ form_row(form.oldPassword,{'label':"Ancien mot de passe", 'attr':{'placeholder':"" }}) }}
				{{form_row(form.newPassword,{'label':"Nouveau mot de passe", 'attr':{'placeholder':""}})}}
				{{ form_row(form.confirmPassword,{'label':"Confirmez mot de passe", 'attr':{'placeholder':""}}) }}
				<button type="submit" class="btn btn-success"> Valider le nouveau mot de passe</button>
				{{ form_end(form) }}
	</div>

{% endblock %}

