{% extends 'base.html.twig'  %}

{% form_theme form with ['bootstrap_4_layout.html.twig',_self] %}

{% block body %}
	<div class="container">
	<h1>Inscription sur le site</h1>


				{{ form_start(form) }}
				{{ form_row(form.firstName,{'label':"Prénom", 'attr':{'placeholder':"Votre prénom" }}) }}
				{{form_row(form.lastName,{'label':"Nom", 'attr':{'placeholder':"Votre nom"}})}}
				{{ form_row(form.email,{'label':"Email", 'attr':{'placeholder':"Votre email"}}) }}
				{{ form_row(form.picture,{'label':"Avatar", 'attr':{'placeholder':"Votre avatar"}}) }}
				{{ form_row(form.introduction,{'label':"Introduction", 'attr':{'placeholder':"Décrivez vous brièvement.."}}) }}
				{{ form_row(form.description,{'label':"Description ", 'attr':{'placeholder':"Dites nous qui vous ètes !"}}) }}
				{{ form_row(form.hash,{'label':"Mot de passe", 'attr':{'placeholder':"***"}}) }}
				{{ form_row(form.confirm_password,{'label':"Confirmez votre mot de passe", 'attr':{'placeholder':"***"}}) }}
				<button type="submit" class="btn btn-success"> Valider l'inscription </button>
				{{ form_end(form) }}
	</div>

{% endblock %}

